@keyframes linear-motion {
  from {
    left: -18px;
  }
  to {
    left: -14px;
  }
}

@keyframes scaling {
  from {
    scale: 1;
  }
  to {
    scale: 1.3;
  }
}

@keyframes appearing {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
